body {
    font-family: Arial, sans-serif;
}
.poll-item {
    border: 1px #000 solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.modal {
    display: none;
    /* Скрываем модальное окно по умолчанию */
    position: fixed;
    /* Окно фиксируется поверх остального контента */
    z-index: 1;
    /* Устанавливаем уровень отображения окна выше остальных элементов */
    left: 0;
    top: 0;
    width: 100%;
    /* Ширина модального окна на 100% */
    height: 100%;
    /* Высота модального окна на 100% */
    overflow: auto;
    /* Включаем прокрутку при необходимости */
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачный фон */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* Выравниваем окно по центру */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Ширина содержимого */
    max-width: 600px;
    /* Максимальная ширина */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}