<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pollster</title>
    {% load static %}
    <!-- css, общий для всех страниц (header, footer, fonts...)  -->
    <link rel="stylesheet" href="{% static 'css/general.css' %}">

    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/passing_poll_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">

    <script src="{% static 'scripts/jquery-3.7.1.slim.min.js' %}" type="module"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        // Выбираем poll из контекста Django и передаём его в JavaScript
        const questionsList = {{ poll.questions | safe }};
    </script>
</head>

<body>
    <div class="content">
        <header>
            <a href="/" class="go-back">
                <span>вернуться назад</span>
                <img src="{% static 'img\Arrow back.svg' %}" alt="logo">
            </a>
            <img src="{% static 'img\logo.png' %}" alt="logo" class="logo">
            <span>профиль</span>
        </header>


        <main>
            <div class="poll-img"><img src="{% static 'img\poll default img.png' %}" alt="logo"></div>
            <h1 class="poll-name">Прохождение опроса<br>{{poll.name_of_poll}}</h1>
            <p class="poll-description">{{poll.description}}</p> <span class="poll_id">#{{poll.id_of_poll}}</span>
            <p class="poll-tags">{{poll.tags}} </p>
            <button class="start">Прохождение опроса</button>
            <div id="questions"></div>
            <button class="submit">Отправить</button>
        </main>

    </div>
    {% include 'footer.html' %}

    <script src="{% static 'scripts/passing_poll_page.js' %}" type="module"></script>

</body>

</html>