<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pollster</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/general.css' %}">

    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/passing_poll_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">

    <script src="{% static 'scripts/lib/jquery-3.7.1.slim.min.js' %}" type="module"></script>

    <meta property="og:title" content="Pollster: платформа для анкетирования" />
    <meta property="og:description" content="Современная платформа для создания и прохождения опросов на Django" />
    <meta property="og:image" content="{% static 'img\circle-logo.png' %}" />
    <meta property="og:url" content="https://example.com/open-graph-guide" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/circle-logo.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="content">
        <header>
            <a href="/">
                <img src="{% static 'img\logo.png' %}" alt="logo" class="logo">
            </a>

            <a href="/profile/{{user.id}}" class="profile-link"><span>{{ user.username }}</span> <img class="user-photo"
                    src="{% static 'img\default_img\profile img.png' %}" alt="profile photo"></a>
        </header>


        <main>
            <div class="poll-img"><img src="data:image/png;base64,{{ poll.cover }}" alt="poll image"></div>

            <h1 class="poll-name">{{poll.name_of_poll}}</h1>
            <p class="poll-description">{{poll.description}}</p>
            <div class="poll-tags">
                {% for tag in poll.tags %}
                <div class="tag">{{tag}}</div>
                {% endfor %}
            </div>
            {% if is_pass %}
            <p>вы уже прошли этот опрос</p>
            {% else %}
            <button class="start">Прохождение опроса</button>
            <form>
                <div id="questions">

                </div>
                <button class="submit" type="button" data-poll-id="{{poll.id_of_poll}}">Отправить</button>
            </form>
            {% endif %}
        </main>

    </div>
    <div class="footer-wrapper">
        {% include 'footer.html' %}
    </div>
    <div class="overlay" id="overlay-success">
        <div class="overlay-inner">
            <div class="overlay-content">
                <span>Результаты сохранены!</span>
                <button class="go-home">В личный кабинет</button>
            </div>
        </div>
    </div>
    {{ poll.questions | json_script:"questionsData" }}

    <script>
        // Получаем данные из тега <script>, созданного json_script
        const questionsData = JSON.parse(document.getElementById('questionsData').textContent);
        console.log(questionsData); // Теперь это валидный JS-объект/массив

        // Сохраняем в sessionStorage
        sessionStorage.setItem('questionsList', JSON.stringify(questionsData));
        sessionStorage.userId = {{ user.id }};
    </script>
    <script src="{% static 'scripts/passing_poll_page.js' %}" type="module"></script>

</body>

</html>