:root {
    /*--font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;*/
}


/* Убираем синий цвет на iOS для всех интерактивных элементов */
button, .tag, .addQuestion, #submitPollBtn, .answerType, .addTag, .copy-link, .go-home {
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

/* Явно задаем цвет для всех состояний ссылок */
a, a:visited, a:active, a:hover {
    color: #000;
}

/* Для тэгов, если они все еще синие */
.tag {
    color: #000; /* Или любой другой нужный цвет */
}

/* Для кнопки добавления вопроса и отправки опроса */
.addQuestion, #submitPollBtn {
    color: #000;
}

/* reset default styles */
* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    background-color: #fff;
    border: none;
}

body, button, textarea {
    margin: 0;
    padding: 0;
    /*font*/
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 14px;
    color: #000;

}

b {
    font-weight: bold;
}

.go-back {
    display: flex;
    flex-direction: column;
    width: 143px;
    font-weight: 800;
    text-align: center;
}

h1 {
    font-weight: 500;
    font-size: 28px;
}

button:hover, #createPollBtn:hover {
    color: #fff;
    background-color: var(--violet);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 131px;
    margin: 8px 0;
    background-image: url("../img/header.png");
    background-size: cover;
}

header .logo {
    width: 100%;
}

.logo-stub {
    height: 121px;
    width: 300px;
    display: inline-block;
}

.profile-link {
    display: flex;
    font-weight: 500;
    max-height: 32px;
    font-size: 16px;
    align-items: center;
}

.user-photo {
    border-radius: 50%;
    width: 32px;
    margin-left: 8px;
}

.content {
    width: 768px;
    margin: auto;
    min-height: 100vh;
}

footer {
    background: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.footer-logo {
    width: 100px;
}

.contacts {
    display: flex;
    flex-direction: row;
}

.footer-line {
    height: 1px; /* или нужная вам толщина линии */
    background: linear-gradient(
        to right,
        black 0%,
        rgba(255, 255, 255, 0.5) 50%, /* или используйте #808080 для серого */
        black 100%
    );
}

/* .contact {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
} */

.contacts svg {
    width: 30px;
}

.error-message, #error-message {
    font-size: 12px;
    color: red;
}

input[type="text"] {
    border: var(--violet) 1.5px solid;
}

input:invalid {
    border-color: red;
    outline-color: red;
}

[aria-invalid] {
    background-color: #f5b2b2;
}


.poll-item .tag {
    display: inline;
    color: rgb(52, 115, 242);
    margin-right: 4px;
}

.poll-item .tag::before {
    content: "#";
}
