/* media.css - Адаптивные стили для всех страниц */

@media (max-width: 768px) {

    /* Общие стили */
    .content {
        width: calc(100% - 20px);
    }

    .content>* {
        max-width: 100%;
    }

    .main>* {
        max-width: 100%;
    }

    header {
        height: auto;
        min-height: 73px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .logo-stub {
        height: 131px;
        width: 40%;
    }

    .search {
        width: 90%;
        margin: auto;
    }

    .right-block {
        float: none;
        height: auto;
    }

    .logo {
        margin-bottom: 15px;
        max-width: 150px;
    }

    .profile-link, a.sign-up {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .slogan {
        margin: 5px 0;
    }




    /* Страница опросов */
    li.poll-item {
        max-width: calc(100% - 30px);
        margin: 0 auto;
    }

    li.poll-item {
        display: flex;
        flex-direction: column;
    }

    li.poll-item>* {
        width: 100%;
    }

    .polls .poll-img img {
        max-width: 100%;
        height: auto;
    }

    .poll-name {
        font-size: 22px;
    }

    /* Профиль пользователя */
    .profile-photo {
        width: 100px;
        height: 100px;
    }

    .log-out {
        width: initial;
        border: none;
    }

    .log-out:hover {
        background: none;
    }

    .log-out img {
        display: block;
    }

    .log-out span {
        display: none;
    }

    .about-you {
        background-color: #fff;
        width: calc(100% - 30px);
        margin: 30px auto;
        padding: 15px;
    }

    #createPollBtn {
        max-width: calc(100% - 12px);
    }

    /* Создание опроса */
    .addPollImage {
        min-height: 100px;
        /* line-height: 100px; */
        font-size: 16px;
    }

    .form {
        width: 90%;
        padding: 0 10px;
    }

    .addQuestion {
        width: 100%;
        margin-bottom: 20px;
    }

    /* Модальные окна */
    .modal-content {
        width: 90%;
        padding: 15px;
    }

    /* Лента опросов */
    ul.polls {
        flex-direction: column;
        row-gap: 20px;
    }

    /* Формы */
    input,
    textarea {
        font-size: 16px;
        max-width: 100%;
    }

    /* Футер */
    .footer-content {
        width: fit-content;
    }

    .footer-content>div {
        position: initial;
        margin: 30px auto;
        float: none;
    }

    .footer-content .contacts {
        margin: 0;
    }

    .cloud-1 {
        line-height: 35px;
    }

    .lamp {
        display: none;
    }

    main.sign-in,
    main.create-new-account {
        padding: 0;
        min-height: 100vh;
        margin-top: 0;
        padding-top: 30px;

    }

    .circles-wrapper {
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
    }

    .second-circle {
        margin-top: 30px;
    }

    .circle {
        position: initial;

    }

    #loginForm {
        margin: auto;

    }

}

@media (max-width: 480px) {

    /* Дополнительные правки для маленьких экранов */
    h1 {
        font-size: 24px;
    }

    .logo-stub {
        height: 73px;
    }

    .poll-description {
        font-size: 14px;
    }

    .start {
        height: 50px;
        line-height: 50px;
    }

    .profile-link span {
        display: none;
    }

    .circles {
        display: none;
    }

    .footer-content .cloud-1 {
        font-size: 24px;
    }

    .footer-content {
        padding: 0 15px;
    }

    main.sign-in,
    main.create-new-account {
        background-image: url(../img/sign-in-background-mobile.svg);
        background-position: center bottom;
        background-size: auto;

    }

    main.profile {
        background-image: url(../img/profile-background-mobile.svg);
        background-position: center top;
        background-size: auto;
        background-repeat: no-repeat;
    }
}