<footer>
    {% load static %}
    <img class="footer-logo" src="{% static 'img\footer-logo.png' %}" alt="">
    <div class="contacts">
        <a href="https://github.com/Seigneurs-Team/pollster">
            <div class="contact">
                <img src="{% static 'img\github-mark.svg' %}" alt="">
                <span>GitHub</span>
            </div>
        </a>
        <a href="https://t.me/b_glagolevsky">
            <div class="contact">
    <img src="{% static 'img\telegram.svg' %}" alt="">
                <span>Telegram</span>
            </div>
        </a>
    </div>
    <div class="footer-line"></div>
    <div class="copyright">© Seigneurs Team, 2024 - 2025г</div>
</footer>