<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'img/circle-logo.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <title>Pollster</title>
    <!-- css, общий для всех страниц (header, footer, fonts...)  -->
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/poll-feed.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">


    <script src="{% static 'scripts/jquery-3.7.1.slim.min.js' %}" type="module"></script>

</head>

<body>
    <div class="content">
        <header>
            <a href="/" class="logo-stub"></a>
            <button class="log-out"><span>Выйти из аккаунта</span><img src="{% static 'img\Log out.svg' %}"></button>

        </header>
        <main class="profile">
            <img class="profile-photo" src="{% static 'img\profile img.png' %}" alt="profile photo">
            <div class="name">
                <input type="text" name="edit_name_input" id="edit_name_input" value="{{user.username}}" maxlength="100"
                    required>
            </div>
            <span>О вас</span>
            <div class="about-you">
                <label for="email">Электроная почта</label>
                <input type="text" name="" id="email" value="{{user.email}}" disabled="disabled"
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$" required>
                <label for="phone">Номер телефона</label>
                <input type="text" name="" id="phone" value="{% if user.phone %}{{user.phone}}{% else %}{% endif %}"
                    disabled="disabled">
                <label for="date-of-birth">Дата рождения</label>
                <input type="date" name="" id="date-of-birth" value="{{user.date_of_birth}}" disabled="disabled">
                <div class="tags-wrapper">
                    <label class="form-label">Ваши интересы:</label>
                    <div class="tags">
                        <div class="selected-tags">
                            {% for tag in user.tags_of_user %}
                            <button class="tag" id="tag-{{id}}">
                                <span>{{tag}}</span>
                            </button>
                            {% endfor %}
                        </div>
                        <div class="not-selected-tags">
                            {% for tag in tags %}
                            <button class="tag" id="tag-{{id}}">
                                <span>{{tag}}</span>
                            </button>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="tags-error-message">>4 тэгов добавлять нельзя!</div>

                </div>
                <!-- Место для отображения сообщения об ошибке -->
                <div class="error-message"></div>
                <div class="about-you-btns">
                    <button class="save-changes" type="submit">Сохранить изменения</button>
                    <button class="delete-account">Удалить аккаунт</button>
                </div>


            </div>
            <a href="/create_poll_page" id="createPollBtn">+ Создать опрос</a>

            <!-- Tab links -->
            <div class="tab">
                <button class="tablinks" id="your-polls-btn">Ваши опросы</button>
                <button class="tablinks" id="completed-polls-btn">Пройденные</button>
            </div>

            <!-- Tab content -->
            <div id="your-polls" class="tabcontent">
                <ul class="polls">
                    {% if not user.usersPolls %}
                    <p>Здесь пока ничего нет...</p>
                    {% else %}
                    {% for poll in user.usersPolls %}
                    <li class="poll-item">
                        <div class="poll-img">
                            <img src="data:image/png;base64,{{ poll.cover }}" alt="Poll cover">
                        </div>
                        <div class="poll-info">
                            <h2 class="poll-name">{{poll.name_of_poll}}</h2>
                            <p class="poll-description">{{poll.description}}</p>
                            <div>
                                <div class="answers-left-poll">Осталось {{10}} человек</div>
                            </div>
                            <div class="btns">
                                <a href="/statistics/{{poll.id_of_poll}}"><button class="view-statistics"> Посмотреть
                                        статистику </button></a>
                                <button class="delete-poll" data-poll="{{poll.id_of_poll}}"> Удалить </button>
                            </div>
                        </div>

                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>

            <div id="completed-polls" class="tabcontent">
                <ul class="polls">
                    {% if not user.completedPolls %}
                    <p>Здесь пока ничего нет...</p>
                    {% else %}
                    {% for poll in user.completedPolls %}
                    <li class="poll-wrapper">
                        <a class="poll-item" href="passing_poll/{{poll.id_of_poll}}/">
                            <div class="poll-img"> <img src="data:image/png;base64,{{ poll.cover }}" alt="Poll cover">
                            </div>
                            <div class="poll-info">
                                <h2 class="poll-name">{{poll.name_of_poll}}</h2>
                                <p class="poll-description">{{poll.description}}</p>
                                <p class="poll-tags">{{item.tags}} </p>
                                <div>
                                    <div class="answers-left-poll">Осталось {{10}} человек</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>


    </div>
    </main>
    <div class="footer-wrapper">
        {% include 'footer.html' %}
    </div>
    <script src="{% static 'scripts/profile_page.js' %}" type="module"></script>

</body>

</html>