:root {
    --border-radius: 12px;
    --violet: #5863BF;
}

h1 {
    text-align: center;
    padding-bottom: 20px;

}

.form {
    width: 444px;
    margin: auto;
    margin-bottom: 40px;

}

.form > * {
    /*width: 100%;*/
    margin: auto;
}

.chooseQuestionType {
    margin: auto;
}

.addPollImage {
    display: inline-block;
    height: 150px;
    line-height: 150px;
    margin: auto;
    border: var(--violet) dashed 4px;
    border-radius: var(--border-radius);
    color: #8D8D8D;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    width: calc(100% - 8px);

}

.addPollImage:hover, .questionImage:hover {
    color: #fff;
    background-color: var(--violet);

}

.addPollImage input[type="file"], .questionImage input[type="file"] {
    display: none; /* Скрытие оригинального input */
}

.form .form-label {
    font-weight: 500;
    color: #8D8D8D;
    display: block;
}

.form-label, .form input:not(.value)[type="text"], .form textarea {
    width: 100%;
}

.form input,
.form textarea,
.questionImage {
    border: none;
    background-color: inherit;
    outline: none;
}

.form input:hover,
.form textarea:hover {
    background-color: inherit;
    border: none;

}

.form button {
    border-radius: var(--border-radius);
}

.input-wrapper {
    background-color: #eaecf8;
    border-radius: var(--border-radius);
    padding: 2px 10px;

}

.input-wrapper:hover {
    background-color: #c7caec;
    /*background-color: #9398cf;*/

}


.questionImage {
    /*width: calc(100% - 20px);*/
    line-height: 28px;
}

.addQuestion, .questionImage {
    border: var(--violet) dashed 1.5px;
}

.form > .input-wrapper, .form > button, .addPollImage, .tags-wrapper {
    margin-bottom: 35px;

}

.options .input-wrapper {
    /*display: inline-block;*/
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
}

.form .question {
    margin-bottom: 20px;

}

.form input,
.form button, .questionImage {
    min-height: 30px;
}

.form textarea {
    min-height: 100px;
    resize: vertical;
}

.questionImage {
    display: inline-block;
    /* border-radius: var(--border-radius); */
    background: white;
    text-align: left;
padding: 0 10px;
}


.question > * {
    margin-bottom: 10px;
}

button.deleteQuestion {
    border: red solid 1px;
    color: red;
    /*width: 100%;*/
}

button.deleteQuestion:hover {
    color: #FFF;
    background-color: red;
}

.questionId {
    font-size: 10px;
}


#submitPollBtn {
    border: var(--violet) solid 1px;
    padding: 0 10px;
    border-radius: var(--border-radius);
    min-height: 30px;
    margin: auto;
}

.option * {
    min-height: auto;
    vertical-align: middle;
}

.option {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border: none;
}

.addOptionRadio {
    border: none;
    font-weight: 700;
    color: var(--violet);
    padding: 0;
}

.error-message {
    font-size: 12px;
    display: none;
    color: red;
}

.deleteQuestion, .addQuestion, .questionImage,#submitPollBtn {
    width: 100%;
}

.delOption {
    border: none;
    background: transparent;
}
.delOption:hover {
    background: transparent;
    
}

.tags, .selected-tags, .not-selected-tags {
    display: inline;
}

.tag {
    font-size: 14px;
    padding: 5px;
    margin: 2px;
    border: var(--violet) solid 1.5px;
}

.selected-tags > .tag{
    background: var(--violet);
    color: #FFF;
}