:root {
    --border-radius: 12px;
    --violet: #5863BF;
}

header h1 {
    width: 318px;
    height: 26px;
    display: block;
    float: right;
    background-color: white;
    margin: 10px 10px 10px 0;
    font-size: 30px;
    
}

.form {
    /* display: flex; */
    /* row-gap: 30px; */
    /* flex-direction: column; */
    width: 444px;
    margin: auto;

}

.form > * {
    display: block;
    width: 100%;
    margin: auto;

}

#addPollImage {
    height: 150px;
    margin: auto;
    border: var(--violet) dashed 4px;
    border-radius: var(--border-radius);
    color: #8D8D8D;
    font-size: 18px;
    font-weight: 700;
}

#addPollImage:hover {
    color: #fff;
}
 

.form .form-label {
    margin: 35px 0 10px 0;
    font-weight: 500;
    color:#8D8D8D;
    font-size: 20px;
}

.form input, .form textarea {
    width: calc(100% - 20px)
}
.form input, .form textarea, .form button {
    border: var(--violet) solid 1px;
    padding: 0 10px;
    border-radius: var(--border-radius);
}
.form input, .form textarea, .form button {
    margin-bottom: 35px;

}
.form input, .form button {
    min-height: 30px;
}

.form textarea{
    min-height: 100px;
}

.addQuestionImage {
    border: var(--violet) dashed 2px;
    border-radius: var(--border-radius);
    background: white;
    text-align: left;
}

.form .chooseQuestionType {
    width: 200px;
}

#choose-question-type-modal {
    display: none;
}