:root {
    --border-radius: 12px;
    --violet: #5863BF;
    --form-width: 600px;
}

header h1 {
    width: 318px;
    height: 26px;
    display: block;
    float: right;
    background-color: white;
    margin: 10px 10px 10px 0;
    font-size: 30px;

}

.form {
    width: var(--form-width);
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    margin: auto;
}

#addImage {
    width: var(--form-width);
    height: 150px;
    margin: auto;
    border: var(--violet) dashed 6px;
    border-radius: var(--border-radius);
    background: white;
    color: #8D8D8D;
    font-size: 21px;
    font-weight: 700;
    color:#8D8D8D;
}

#addImage:hover {
    color: #fff;
    background-color: var(--violet);
}

.form .form-label {
    font-weight: 700;
    color:#8D8D8D;
}

.form input, .form textarea {
    border: var(--violet) solid 2px;
    border-radius: var(--border-radius);
}