:root {
    --border-radius: 12px;
    --violet: #5863BF;
}

h1 {
    background-color: white;
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;

}

.form {
    width: 444px;
    margin: auto;
    margin-bottom: 40px;

}

.form> *, .chooseQuestionType {
    width: 100%;
    margin: auto;

}

.addPollImage {
    display: inline-block;
    height: 150px;
    line-height: 150px;
    margin: auto;
    border: var(--violet) dashed 4px;
    border-radius: var(--border-radius);
    color: #8D8D8D;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.addPollImage:hover, .questionImage:hover {
    color: #fff;
    background-color: var(--violet);

}

.addPollImage input[type="file"], .questionImage input[type="file"] {
    display: none; /* Скрытие оригинального input */
}

.form .form-label {
    margin: 35px 0 10px 0;
    font-weight: 500;
    color: #8D8D8D;
    font-size: 20px;
}

.form input,
.form textarea {
    width: calc(100% - 20px)
}

.form input,
.form textarea,
.form button, 
.questionImage {

    border: var(--violet) solid 1px;
    padding: 0 10px;
    border-radius: var(--border-radius);
    font-size: initial;
    
}

.questionImage {
    width: calc(100% - 20px);
    line-height: 28px;
}

.form button, .questionImage {
    border: var(--violet) dashed 1.5px;
}

.form>.input-wrapper,
.form>button {
    margin-bottom: 35px;

}

.options .input-wrapper {
    display:inline-block;
}

.form .question {
    margin-bottom: 20px;

}

.form input,
.form button, .questionImage {
    min-height: 30px;
}

.form textarea {
    min-height: 100px;
}

.questionImage {
    display: inline-block;
    /* border-radius: var(--border-radius); */
    background: white;
    text-align: left;

}


.question>* {
    margin-bottom: 10px;
}

button.deleteQuestion {
    border: red solid 1px;
    color: red;
    width: 100%;
}

button.deleteQuestion:hover {
    color: #FFF;
    background-color: red;
}

.questionId {
    font-size: 10px;
}


#submitPollBtn {
    border: var(--violet) solid 1px;
    padding: 0 10px;
    border-radius: var(--border-radius);
    min-height: 30px;
    margin: auto;
}

div.option * {
    width: auto;
    font-size: 12px;
    min-height: auto;
}
.addOptionRadio {
    border: none;
    font-weight: 700;
    color: var(--violet);
    padding: 0;
}

.error-message {
    font-size: 12px;
display: none;
    color: red;
}