:root {
    /*--font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;*/
}


/* reset default styles */
* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: unset;
}

button {
    background-color: #fff;
    border: none;
}

body, button, textarea {
    margin: 0;
    padding: 0;
    /*font*/
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 14px;

}

b {
    font-weight: bold;
}

.go-back {
    display: flex;
    flex-direction: column;
    width: 143px;
    font-weight: 800;
    text-align: center;
}

h1 {
    font-weight: 500;
    font-size: 28px;
}

button:hover, #createPollBtn:hover {
    color: #fff;
    background-color: var(--violet);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 131px;
    margin: 8px 0;

    background-size: cover;
}

header .logo {
    width: 100%;
}

.logo-stub {
    height: 121px;
    width: 300px;
    display: inline-block;
}

.profile-link {
    display: flex;
    font-weight: 500;
    max-height: 32px;
    font-size: 16px;
    align-items: center;
}

.user-photo {
    border-radius: 50%;
    width: 32px;
    margin-left: 8px;
}

.content {
    width: 768px;
    margin: auto;
    min-height: 100vh;
}

footer {
    margin-top: 30px;
    padding: 30px 0;
    background-color: #5863BF;
}

.footer-content {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
    min-height: 350px;
}

.footer-content .lamp {
    width: 200px;
    height: 200px;
}

.footer-content div {
    position: absolute;
    /* background-color: white; */
    border-radius: 12px;
    padding: 10px;
    /* margin временный */
    margin: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-content .cloud-1 {
    padding: 6px 43px 6px 8px;
    border-radius: 12px 12px 0 12px;
    right: 0;
    top: 0;
    float: right;
    max-width: 384px;
    min-height: 40px;

    font-size: 31px;

}

.footer-content .cloud-2 {
    padding: 6px 13px 6px 48px;
    top: 100px;
    border-radius: 12px 12px 12px 0;
    right: 37px;
    font-size: 16px;
    max-width: 384px;
    min-height: 180px;
}

.footer-content div:nth-of-type(3) {
    left: 0;
    top: 250px;
    background: white;
    border-radius: 12px;
}

.error-message, #error-message {
    font-size: 12px;
    color: red;
}

input[type="text"] {
    border: var(--violet) 1.5px solid;
}

input:invalid {
    border-color: red;
    outline-color: red;
}

[aria-invalid] {
    background-color: #f5b2b2;
}


.poll-item .tag {
    display: inline;
    color: rgb(52, 115, 242);
    margin-right: 4px;
}

.poll-item .tag::before {
    content: "#";
}
