:root {
    --border-radius: 15px;
    --violet: #5863BF;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sign-up {
    display: block;
    width: 87px;
    height: 26px;
    margin: 10px 10px 10px 0;
    border: var(--violet) solid 2px;
    border-radius: 4px;
    float: right;
    background-color: white;
    text-align: center;
}

#createPollBtn {
    display: block;
    text-align: center;
    width: 600px;
    height: 100px;
    line-height: 100px;
    margin: auto;
    border: var(--violet) dashed 6px;
    border-radius: var(--border-radius);
    color: #8D8D8D;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;

}
#createPollBtn:hover {
    color: #fff;
}
 
.circles {
    width: 100%
}

h1 {
    font-size: 36px;
}
