:root {
    --border-radius: 15px;
    --violet: #5863BF;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sign-up {
    display: block;
    width: 87px;
    height: 26px;
    line-height: 26px;
    margin: 10px 10px 10px 0;
    border: var(--violet) solid 2px;
    border-radius: 4px;
    background-color: white;
    text-align: center;
}

header {
    display: block;
}

.right-block {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 100%;
}

.search {
    position: relative;
    width: 360px;
    height: 30px;
    border: var(--violet) solid 1.5px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    float: right;
    text-align: left;
    padding: 3px 10px;
}

.search input[type="text"] {
    width: 300px;
    /*background: white;*/
    border: none;
    outline: none;
}

.search input[type="checkbox"]. .search input[type="radio"] {
    margin-right: 10px;
}

#close {
    float: right;
}

.search h2 {
    font-size: 24px;
}

.popup {
    display: none; /* Скрыто по умолчанию */
    position: absolute;
    left: 0;
    top: 42px;
    width: calc(100% - 20px);
    background-color: white;
    border-radius: 6px;
    border: var(--violet) solid 1.5px;
    padding: 10px;
    text-align: center;

}

input[type="checkbox"], input[type="radio"] {
    margin-right: 10px;
}

.filters {
    text-align: left;
}
.filters > ul {
    margin-bottom: 10px;
}

.age {
    padding-left: 20px;
}

.tags, .selected-tags, .not-selected-tags {
    display: inline;
}

.tag {
    font-size: 14px;
    padding: 5px;
    margin: 2px;
    border: var(--violet) solid 1.5px;
}

.selected-tags > .tag{
    background: var(--violet);
    color: #FFF;
}

#applyFilters {
    border: var(--violet) solid 1.5px;
    border-radius: var(--border-radius);
    padding: 6px 10px;
    margin-top: 10px;
}



.search img {
    width: 18px;
}

#createPollBtn {
    display: block;
    text-align: center;
    width: 600px;
    height: 100px;
    line-height: 100px;
    margin: auto;
    border: var(--violet) dashed 6px;
    border-radius: var(--border-radius);
    color: #8D8D8D;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;

}

#createPollBtn:hover {
    color: #fff;
}

.circles {
    width: 100%;
}
.slogan {
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    font-size: 16px;
}