.modal {
    display: none;
    /* Скрываем модальное окно по умолчанию */
    position: fixed;
    /* Окно фиксируется поверх остального контента */
    z-index: 1;
    /* Устанавливаем уровень отображения окна выше остальных элементов */
    left: 0;
    top: 0;
    width: 100%;
    /* Ширина модального окна на 100% */
    height: 100%;
    /* Высота модального окна на 100% */
    overflow: auto;
    /* Включаем прокрутку при необходимости */
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачный фон */
}

.modal-content {
    width: 310px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 15px;

}

.modal-content>span {
    font-weight: 500;
    color: #8D8D8D;
}

.modal-content>.answerType {
    width: 100%;
    border: var(--violet) solid 1.5px;

    border-radius: 15px;
    margin-top: 10px;
}

.modal-close {
    line-height: 20px;
    color: var(--violet);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}