:root {
    --border-radius: 15px;
    --violet: #5863BF;
}


.poll-img img {
    width: 100%;
}

main {
    text-align: center;
}

.start {
    color: #fff;
    width: 325px;
    height: 68px;
    background-color: var(--violet);
    border-radius: var(--border-radius);
}

.start:hover {
    color: var(--violet);
    background-color: #fff;
    border: var(--violet) solid 2px;
}

#questions {
    display: none;
    text-align: left;
}