
ul.polls {
    /* обнуление стилей списка опросов */
    padding: 0;
    text-indent: 0;
    list-style-type: none;

    margin: 30px 0 70px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;

}

li.poll-item {
    width: 360px;

}
li.poll-item a {
    display: flex;
    flex-direction: column;
}
li.poll-item .poll-img img {
    width: 100%;
    /* Ширина изображений */
    height: 100%;
    /* Высота изображении */
    object-fit: cover;
    /* Вписываем фотографию в область */
    border-radius: var(--border-radius);

}

li.poll-item .poll_id {
    float: right;
    font-size: 13px;
    font-weight: 500;
    color: #8D8D8D;
}


li.poll-item .delete-poll {
    background-color: white;
    border: none;
    vertical-align: text-top;
    line-height: 12px;
}

li.poll-item .till-the-end {
    float: right;
    font-size: 14px;
    line-height: 12px;
    vertical-align: text-top;

}

li.poll-item .till-the-end svg {
    width: 20px;
}

li.poll-item .delete-poll:hover {
    background-color: rgb(253, 244, 255);
}

li.poll-item .delete-poll svg {
    display: inline;
    width: 20px;
}

h2.poll-name, .poll-author {
    font-weight: 500;

}

h2.poll-name {
    margin: 0;
    font-size: 22px;
    text-align: center;
}

.poll-description {
    height: 55px;
    font-weight: 400;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    margin: 5px 0;
}

.poll-author {
    font-size: 14px;
}

.poll-tags {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: rgb(52, 115, 242);
}