:root {
    --border-radius: 12px;
    --violet: #5863BF;

}

.profile-photo {
    border-radius: 50%;
}

.log-out img {
    display: none;
}

.content {
    text-align: center;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border-bottom: 2px solid var(--violet);
    background-color: #fff;
}

.about-you {
    border: 2px solid var(--violet);
    border-radius: var(--border-radius);
    width: 360px;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    margin: 24px auto;
    text-align: left;

}

.about-you input {
    /*border: solid 2px #8D8D8D;*/
    border-radius: 3px;
    width: 294px;
    height: 30px;
    margin: 7px 0 20px 0;
    padding: 0 5px;

}

.tags-wrapper, .save-changes {
    margin: 0px 0 20px 0;

}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    /*float: left;*/
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--violet);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
    background-color: var(--violet);
    color: #fff;
    font-weight: 400;
}

#your-polls-btn {
    border-top-left-radius: 10px;
}

#completed-polls-btn {
    border-top-right-radius: 10px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
}

.log-out img {
    width: 30px;
}

.about-you-btns {
    display: flex;
}

.save-changes {
    background-color: white;
    border: solid 1px var(--violet);
    border-radius: 10px;
}

.save-changes, .delete-account, .log-out {
    width: 200px;
    height: 28px;
}

.delete-account, .log-out {
    background-color: white;
    border: solid 1px red;
    border-radius: 10px;
    color: red;
}

.delete-account:hover, .log-out:hover {
    background-color: red;
}

header {
    align-items: flex-start;
}


.tags, .selected-tags, .not-selected-tags {
    display: inline;
}

.about-you .tag {
    font-size: 14px;
    padding: 5px;
    margin: 2px;
    border: var(--violet) solid 1.5px;
}

.selected-tags > .tag {
    background: var(--violet);
    color: #FFF;
}

label {
    display: block;
}

#createPollBtn {
    display: block;
    text-align: center;
    width: 462px;
    height: 100px;
    line-height: 100px;
    margin: 24px auto;
    border: var(--violet) dashed 6px;
    border-radius: var(--border-radius);
    color: #8D8D8D;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

#tags-error-message {
    font-size: 12px;
    display: none;
    color: red;
}

.error-message {
    margin-bottom: 20px;
    text-align: center;
}

.poll-item {
    text-align: left;
}

.poll-name {
    text-align: center;
}

li.poll-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 15px;
    border: 1px black solid;
    border-radius: 15px;
}

.poll-img {
    width: 40%;
}

.poll-description {
    height: initial;
}

.right-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
    text-align: left;
    padding: 0 10px;
}

.right-block .poll-name, .right-block button {
    text-align: left;
}
