:root {
    --border-radius: 15px;
    --violet: #5863BF;
}

main {
    /*height: 614px;*/
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0px 256px 267px 256px;
}
h1 {
    font-size: 30px;
}
.password-wrapper {
    position: relative;
    border: var(--violet) 1.5px solid;
    border-radius: var(--border-radius);

}

input {
    border: var(--violet) 1.5px solid;
    border-radius: 4px;
    display: block;
    height: 30px;
    width: calc(100% - 10px);
    border-radius: var(--border-radius);
    border: var(--violet) 1.5px solid;
    padding: 0 5px;

}
#login {

}
.password-control {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.password {
    outline: none;
    border: none;
}

form {
    width: 250px;

}

form > * {
    width: 100%;

    margin: 10px 0;
}

.submit {
    border: var(--violet) solid 1.5px;
    border-radius: var(--border-radius);
    width: 100px;
    height: 30px;
    text-align: center;

}

.submitbutton:hover {
    background-color: var(--violet);

}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#overlay-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    color: black;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}